<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>

    <link rel="stylesheet" th:href="@{/css/create.css}">
</head>

<body>

<div class="container">

    <header class="header">
        <h1>Create New Post</h1>

        <a href="/posts" class="back-btn">Back</a>
    </header>

    <div class="form-card">

        <form method="post" th:action="@{/posts}" th:object="${post}">

            <div class="field">
                <label>Title</label>
                <input th:field="*{title}" required>
            </div>

            <div class="field">
                <label>Excerpt</label>
                <input th:field="*{excerpt}" required>
            </div>

            <div class="author-box"
                 sec:authorize="hasRole('ADMIN')"
                 th:if="${authors != null and !authors.isEmpty()}">

                <label>Select Author</label>

                <select name="authorId" class="select">
                    <option value="">-- Select Author --</option>

                    <option th:each="author : ${authors}"
                            th:value="${author.id}"
                            th:text="${author.name}"
                            th:selected="${selectedAuthor != null
                              and selectedAuthor == author.id}">
                    </option>
                </select>

            </div>

            <div class="field">
                <label>Tags </label>
                <input type="text" name="tagsInput"
                       placeholder="example: #java #spring #backend (optional)">
            </div>

            <div class="field">
                <label>Content</label>
                <textarea rows="6" th:field="*{content}" required></textarea>
            </div>

            <div class="actions">
                <button type="submit" class="save-btn">Save</button>
                <a href="/posts" class="cancel-btn">Cancel</a>
            </div>

        </form>

    </div>

</div>

</body>
</html>