*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", Roboto, Arial;
}

body{
    background:#ffffff;
    color:#000000;
}

.container{
    max-width:900px;
    margin:auto;
    padding:30px;
    min-height:100vh;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.header h1{
    font-size:32px;
    color:#000000;
}

.back-btn{
    background:#000000;
    color:#ffffff;
    padding:10px 18px;
    border-radius:6px;
    text-decoration:none;
    font-weight:600;
    border:1px solid #000;
}

.form-card{
    background:#ffffff;
    border:1px solid #000;
    border-radius:8px;
    padding:25px;
}

.field{
    margin-bottom:18px;
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:6px;
    color:#000000;
    font-weight:600;
}

input,
textarea{
    background:#ffffff;
    border:1px solid #000000;
    color:#000000;
    padding:10px;
    border-radius:6px;
    outline:none;
}

input::placeholder{
    color:#777;
}

input:focus,
textarea:focus{
    border:1px solid #000;
}

.actions{
    margin-top:10px;
    display:flex;
    gap:10px;
}

.save-btn{
    background:#000000;
    color:#ffffff;
    border:1px solid #000;
    padding:10px 18px;
    border-radius:6px;
    font-weight:700;
    cursor:pointer;
}

.cancel-btn{
    background:#ffffff;
    color:#000000;
    border:1px solid #000;
    padding:10px 18px;
    border-radius:6px;
    text-decoration:none;
    font-weight:700;
}
