*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",Roboto,Arial;
}

body{
    background:#ffffff;
    color:#000000;
    min-height:100vh;
}

.container{
    max-width:1250px;
    margin:auto;
    padding:30px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.header{
    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    margin-bottom:20px;
}

.header .title{
    text-align:center;
    font-size:34px;
    font-weight:700;
}

.left{
    justify-self:start;
}

.right{
    justify-self:end;
}

.create-btn{
    background:#000;
    border:1px solid #000;
    color:#fff;
    padding:10px 20px;
    border-radius:6px;
    font-weight:700;
    text-decoration:none;
    cursor:pointer;
}

.logout-btn{
    background:#fff;
    color:#000;
    padding:10px 20px;
    border-radius:6px;
    border:1px solid #000;
    font-weight:700;
    cursor:pointer;
}

.alert{
    background:#fff;
    color:#000;
    border:1px solid #000;
    padding:14px;
    border-radius:6px;
    margin-bottom:20px;
}

.search-area{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

.search-form{
    display:flex;
    gap:10px;
    padding:12px 15px;
    border-radius:8px;
    background:#fff;
    border:1px solid #000;
}

.search-type,
.search-input{
    padding:10px 12px;
    border-radius:6px;
    border:1px solid #000;
    background:#fff;
    color:#000;
    font-weight:600;
    outline:none;
}

.search-input{
    width:250px;
}

.search-btn{
    background:#000;
    color:white;
    padding:10px 20px;
    border-radius:6px;
    border:1px solid #000;
    font-weight:700;
    cursor:pointer;
}

.sort-bar{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

#sortForm{
    display:flex;
    align-items:center;
    gap:10px;
    border:1px solid #000;
    padding:10px 14px;
    border-radius:8px;
    background:#fff;
}

.sort-bar label{
    font-weight:700;
}

.sort-select{
    padding:10px 12px;
    border-radius:6px;
    border:1px solid #000;
    background:#fff;
    font-weight:600;
}

.layout{
    display:grid;
    grid-template-columns:260px 1fr;
    gap:25px;
}

.filter-panel{
    border:1px solid #000;
    padding:18px;
    border-radius:10px;
    background:#fff;
    position:sticky;
    top:20px;
    height:max-content;
}

.filter-panel h3{
    font-size:18px;
    margin-bottom:12px;
}

.filter-panel label{
    display:block;
    font-weight:700;
    margin-top:12px;
}

.filter-panel select,
.filter-panel input{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid #000;
    background:#fff;
    margin-top:5px;
    font-weight:600;
}

.filter-panel button{
    width:100%;
    margin-top:15px;
    padding:10px;
    border-radius:6px;
    border:1px solid #000;
    background:#000;
    color:#fff;
    font-weight:700;
    cursor:pointer;
}

.author-box{
    border:1px solid #000;
    padding:12px;
    border-radius:8px;
    margin-top:6px;
    display:flex;
    flex-direction:column;
    gap:10px;
    max-height: 100px;
    overflow-y: auto;
}

.author-item{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:600;
}

.author-item input{
    width:18px;
    height:18px;
    cursor:pointer;
}

.author-item label{
    cursor:pointer;
}

.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    max-width:1100px;
    margin:30px;
}

.card{
    width:100%;
    padding:25px;
    border-radius:16px;
    background:#fff;
    border:1px solid #000;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.card-header h2{
    margin-bottom:3px;
    color:#000;
    font-size:20px;
    font-weight:700;
}

.meta{
    color:#555;
    font-size:13px;
}

.excerpt{
    font-size:15px;
    margin:12px 0 18px 0;
    color:#000;
}

.card-actions{
    display:flex;
    gap:10px;
}

.btn{
    padding:7px 14px;
    border-radius:6px;
    text-decoration:none;
    font-size:13px;
    font-weight:700;
    cursor:pointer;
    border:1px solid #000;
    color:#000;
    background:#fff;
}

.view{
    background:#000;
    color:#fff;
}

.pagination{
    padding-top:30px;
    display:flex;
    gap:10px;
    justify-content:center;
    align-items:center;
}

.page-btn,
.page-number{
    background:#fff;
    border-radius:6px;
    padding:9px 14px;
    text-decoration:none;
    color:#000;
    font-weight:600;
    border:1px solid #000;
}

.page-number.active{
    background:#000;
    color:white;
}

.page-btn.disabled{
    opacity:.5;
    pointer-events:none;
}

@media(max-width:900px){
    .layout{
        grid-template-columns:1fr;
    }

    .filter-panel{
        position:static;
        width:100%;
    }
}

@media(max-width:800px){
    .grid{
        grid-template-columns:1fr;
        margin:0;
    }
}
