*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",Roboto,Arial;
}

body{
    background:#ffffff;
    color:#000000;
    min-height:100vh;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:30px;
    min-height:100vh;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.header h1{
    color:#000000;
}

.top-actions{
    display:flex;
    gap:10px;
}

.back-btn,
.edit-btn,
.delete-btn{
    padding:8px 14px;
    border-radius:6px;
    text-decoration:none;
    font-weight:700;
    border:1px solid #000000;
    color:#000000;
    background:#ffffff;
}

.back-btn{
    background:#000000;
    color:#ffffff;
}

.post-card{
    background:#ffffff;
    border:1px solid #000000;
    border-radius:8px;
    padding:22px;
    margin-bottom:30px;
}

.meta{
    color:#555;
    margin-bottom:10px;
}

.content{
    color:#000000;
}

.comments h2{
    margin:20px 0 10px 0;
    color:#000000;
}

.no-comments{
    background:#ffffff;
    border:1px solid #000000;
    padding:12px;
    border-radius:6px;
}

.comment-card{
    background:#ffffff;
    border:1px solid #000000;
    border-radius:6px;
    padding:10px 12px;
    margin-bottom:8px;
}

.comment-head{
    font-size:13px;
    color:#000000;
    display:flex;
    gap:6px;
}

.comment-card p{
    margin:5px 0 6px 0;
    color:#000000;
}

.email{
    color:#555;
}

.comment-actions{
    display:flex;
    gap:8px;
}

.edit-btn-sm,
.delete-btn-sm{
    padding:5px 10px;
    border-radius:6px;
    font-size:12px;
    text-decoration:none;
    font-weight:700;
    border:1px solid #000000;
    color:#000000;
    background:#ffffff;
}

.add-comment h3{
    margin-top:25px;
    margin-bottom:5px;
    color:#000000;
}

.field{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
}

label{
    margin-bottom:4px;
    color:#000000;
    font-weight:600;
}

input,
textarea{
    background:#ffffff;
    border:1px solid #000000;
    color:#000000;
    padding:10px;
    border-radius:6px;
    outline:none;
}

textarea{
    height:85px;
}

.submit-btn{
    background:#000000;
    color:white;
    padding:10px 18px;
    border-radius:6px;
    border:1px solid #000000;
    font-weight:700;
    cursor:pointer;
}
